#big1{
    border: 5px solid black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bigbox{
    display: flex;
    position: relative;
}
#box1{
    border: 5px solid grey;
}
#red{
    background: red;
    width: 75px;
    height: 75px;
    transform-origin: top left;
    transition: 1s;
}
#blue{
    background: blue;
    width: 75px;
    height: 75px;
    transform-origin: bottom left;
    transition: 1s;
}
#yellow{
    background: yellow;
    width: 75px;
    height: 75px;
    transform-origin: bottom right;
    transition: 1s;
}
#green{
    background: green;
    width: 75px;
    height: 75px;
    transform-origin: top right;
    transition: 1s;
}
#word{
    position: absolute;
    transform: translatex(600%) translatey(400%);
    z-index: -1;
}
#bigbox:hover #box1 #red,
#bigbox:hover #box1 #yellow{
    transform: rotate(90deg);
}
#bigbox:hover #box1 #blue,
#bigbox:hover #box1 #green{
    transform: rotate(-90deg);
}